---
services:
    api:
        version: "0.0.1"
        network_mode: host
        ports:
            client: "5000"
    database:
        version: "mongo-3.6.0"
        db_name: jagereye-dev
        network_mode: host
        ports:
            client: "27017"
    messaging:
        version: "nats-1.0.4"
        network_mode: host
        ports:
            client: "4222"
            monitor: "8222"
    mem_db:
        version: "redis-4.0.6"
        network_mode: host
        ports:
            client: "6379"
    res_mgr:
        version: "0.0.1"
        network_mode: host
        volumes:
            docker_sock: /var/run/docker.sock:/var/run/docker.sock
        worker:
            network_mode: host
apps:
    tripwire:
        version: "0.0.1"
        network_mode: host
